#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

if ARCH_CHIP_U2A16

menu "Timer Options"

config OSTM_INDEX
	int "OSTM index"
	default 0

config OSTM_FREQ
	int "OSTM freq"
	default 80000000

endmenu # Timer Options

endif # ARCH_CHIP_U2A16
